<mat-card class="weather-card">  
    <mat-card-header>
        <section class="current-temperature-section">
            <figcaption>
                <img [src]="currentIconUri" alt="Condition icon">
            </figcaption>
            <article class="current-temperature">
                <div class="temperature-value">
                    <span class="farenheit-value" *ngIf="unit() === 'F'">{{ currentTemperature }}</span>
                    <span class="celsius-value" *ngIf="unit() === 'C'">{{ currentTemperature }}</span>
                </div>
                <div class="temperature-units">
                    <span class="temperature-celsius-unit" aria-label="°Celsius" role="button">°C</span>
                    <a href="#" (click)="toggleUnit('C')" display="none">°C</a>
                    <span class="separator">|</span>
                    <a href="#" (click)="toggleUnit('F')">°F</a>
                    <span class="temperature-farenheit-unit" aria-label="°Fahrenheit" role="button" display="none">°F</span>
                </div>
            </article>
        </section>
        <section class="current-info">
            <p>Tiempo</p>
            <p class="current-day">{{ currentDayData().currentTime }}</p>
            <p class="weather-condition">{{ reformatWeatherCondition }}</p>
        </section>
    </mat-card-header>
    <mat-card-content>
        <section *ngFor="let day of weatherData()" class="forecast-card">
            <div>
                <p>{{ day.dayName | slice:0:3 }}</p>
            </div>
            <div>

            </div>
            <footer>
                <div></div>
                <div></div>
            </footer>
        </section>
    </mat-card-content>
</mat-card>
